
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- JS Files -->
  <script src="assets/effect/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/effect/aos/aos.js"></script>
  <script src="assets/effect/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/effect/glightbox/js/glightbox.min.js"></script>
  <script src="assets/effect/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/effect/swiper/swiper-bundle.min.js"></script>
  <script src="assets/effect/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>