<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VizBank</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/logo.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="assets/effect/aos/aos.css" rel="stylesheet">
  <link href="assets/effect/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/effect/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/effect/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/effect/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/effect/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/effect/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

</head>
<body>
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1><a href="/">VizBank</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/customerlist">All Customer</a></li>
          <li><a class="nav-link scrollto" href="/transaction">History</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>